{% extends "admin/change_form.html" %}
{% load i18n %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}


{% block content %}<div id="content-main">
  <h3>{{ object.title }}</h3>

  <form action="" method="post">
    {% csrf_token %}
    <fieldset>
      {% include "froide_govplan/admin/_proposal.html" %}
    </fieldset>
    <div class="submit-row">
      <input type="submit" value="{% trans 'Create update draft' %}" style="float:left"/>
    </div>
  </form>
  {% endblock %}
