{% extends "cms/page.html" %}

{% load cms_tags %}
{% load menu_tags %}

{% block navbar %}{% endblock %}

{% block body %}
  <nav class="breadcrumb-container" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        {% page_url 'koalitionstracker' as base_url %}
        <li class="breadcrumb-item"><a href="{{ base_url }}">Koalitionstracker</a></li>
        {% block govplan_breadcrumbs %}{% endblock %}
      </ol>
    </div>
  </nav>

  {% static_placeholder "govplan_header" %}
  {% block app_body %}
    {% placeholder "content" %}
  {% endblock %}
  {% static_placeholder "govplan_footer" %}
{% endblock %}
