{% extends CMS_TEMPLATE %}

{% load i18n %}
{% load markup %}
{% load cms_tags %}

{% block title %}{{ object.title }}{% endblock %}


{% block app_body %}
  <div class="container mt-3 mb-5">

    <div class="jumbotron">
      <small class="badge badge-light">Vorhaben der {{ object.government.name }}</small>
      <h1 class="display-4 mt-0">
        {{ object.title }}
      </h1>
    </div>

    {% if object.image %}
      {# this should not be a dependency! #}
      {% include "fds_blog/includes/_picture.html" with picture=object.image %}
    {% endif %}

    <dl>
      <dt>Status</dt>
      <dd>{{ object.get_status_display }}</dd>
      {% if object.rating %}
        <dt>Rating</dt>
        <dd>{{ object.get_rating_display }}</dd>
      {% endif %}
      {% if object.measure %}
        <dt>Art der Umsetzung</dt>
        <dd>{{ object.measure }}</dd>
      {% endif %}
      {% if object.due_date %}
        <dt>Frist</dt>
        <dd>{{ object.due_date|date:"SHORT_DATE_FORMAT" }}</dd>
      {% endif %}
    </dl>

    <blockquote>
      {{ object.quote | safe }}
    </blockquote>

    {{ object.description | safe }}

    {% with refs=object.get_reference_links %}
      {% if refs %}
        <p>
          {% if refs|length > 1 %}
            Quellen:
          {% else %}
            Quelle:
          {% endif %}
          {% for ref in refs %}
            <a href="{{ ref }}" target="_blank">
              {{ forloop.counter }}
            </a>
          {% endfor %}
        </p>
      {% endif %}
    {% endwith %}

    <p>
      {% for cat in object.categories.all %}<span class="badge badge-light mr-2">{{ cat.name }}</span>{% endfor %}
    </p>

    {% if object.responsible_publicbody %}
      <p>
        Federführung:
        <a href="{{ object.responsible_publicbody.get_absolute_url }}">
          {{ object.responsible_publicbody.name }}
        </a>
      </p>
    {% endif %}

    {% if object.organization %}
      <p>
        Dieses Vorhaben wird beobachtet von 
        <a href="{{ object.organization.website }}">
          {{ object.organization.name }}
        </a>
      </p>
    {% endif %}

    <h3>Neueste Entwicklungen</h3>
    {% for update in updates %}
      <h4>{{ update.title }}</h4>

      <time>{{ update.timestamp|date:"DATE_FORMAT" }}</time>

      <small>von {% if update.user %}{{ update.user.get_full_name }}{% endif %}{% if update.organization %}({{ update.organization.name }}){% endif %}
      </small>

      {{ update.content|markdown }}

      {% if update.url %}
        <a href="{{ update.url }}">Mehr lesen</a>
      {% endif %}

      {% if update.foirequest %}
        <p>
          Relevante Anfrage:
          <a href="{{ update.foirequest.get_absolute_url }}">
            {{ update.foirequest.title }}
          </a>
        </p>
      {% endif %}
    {% empty %}
      Keine Entwicklungen
    {% endfor %}
  </div>
{% endblock %}
